* {
    font-family: 'Stylish', sans-serif;
}

.wrap {
    /* 중앙정렬 어케 하냐 ... */
    margin: 10px auto;
    width: 900px;
}

#post-box {
    display: none;
    margin: 20px auto;
    border: solid 2px black ;
    padding: 50px;
    width: 600px;
}

#cards {
    margin-top: 30px;
}

#card-text-comment {
    color: blue;
}