* {
    font-family: 'Stylish', sans-serif;
}

.wrap {
    /* 중앙정렬 어케 하냐 ... */
    margin: auto;
    width: 900px;
}

#post-box {
    width: 500px;
    margin: 20px auto;
    padding: 50px;
    border: solid 2px black ;
    border-radius: 5px;

    display: none;
}

#cards {
    margin-top: 30px;
}

.card-text-comment {
    color: blue;
    font-weight: bold;
}