<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SW사관학교 정글 | 나홀로 메모장 [try.1]</title>

    <!-- css 파일 -->
    <link rel='stylesheet' href='../static/index.css'>

    <!-- 글꼴 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Stylish&display=swap" rel="stylesheet">

    <!-- 부트스트랩 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- JS 코드 -->
    <script>

        // 이건 뭐지?
        $(document).ready(function () {
            $('#cards-box').html('');
            showArticles();
        });

        // 포스팅박스 열고 닫는 함수
        function openclose(){
            if ( $('#post-box').css('display') == 'block') {
                $('#post-box').hide();
                $('#post-box-text').text('포스팅박스 열기');

            } else {
                $('#post-box').show();
                $('#post-box-text').text('포스팅박스 닫기');
            }
        }

        // [CRUD - Create by POST] 글 등록하는 함수
        function postArticle() {

            // 1. 유저가 입력한 데이터를 #post-url과 #post-comment에서 가져오기
            let url = $('#post-url').val();
            let comment = $('#post-comment').val();

            // 2. memo에 POST 방식으로 메모 생성 요청하기
            $.ajax({
                type: 'POST',
                url: '/memo',
                data: {url_give: url, comment_give: comment},
                success: function(response) {
                    if (response['result'] == 'success') {
                        alert('포스팅 성공!');
                        window.location.reload();
                    } else {
                        alert('서버오류');
                    }
                }
            })
        }

        // [CRUD - Read by GET] 등록한 글 가져와서 띄우는 함수
        function showArticles(){
            $.ajax({
                type: 'GET',
                url: '/memo',
                data: {},
                success: function(response) {
                    if (response['result']=='success'){
                        let articles = response['articles'];
                        for (let i = 0; i<articles.length; i++ ) {
                            makeCard(articles[i]['image'], articles[i]['url'], articles[i]['title'],articles[i]['desc'],articles[i]['comment'])
                        }
                    }
                }
            })
        }

        // [CRUD] - Create
        function makeCard(url, title, desc, comment, image){
            let temp_html = `<div class="card">
                <img src="${image}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><a href="${url}">${title}</a></h5>
                  <p class="card-text">${desc}</p>
                  <p class="card-text-comment">${comment}</p>
                </div>
              </div>`;
              $('#cards-box').append(temp_html);
        }
        
    </script>

</head>
<body>
    <div class='wrap'>

        <!-- jumbotron -->
        <div class="jumbotron">
            <h1 class="display-4">나홀로 링크 메모장!</h1>
            <p class="lead">중요한 링크를 저장해두고, 나중에 볼 수 있는 공간입니다.</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" onclick='openclose()' href="#" role="button" id='post-box-text'>포스팅박스 열기</a>
        </div>

        <!-- post box -->
        <div id='post-box'>
            <div class="form-group">
                <!-- for='post-url'로 수정 -->
              <label for="post-url">아티클 URL</label> 
              <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <!-- for='post-comment'로 수정 -->
              <label for="post-comment">간단 코멘트</label>
              <!-- input에서 textarea로 수정 -->
              <textarea id='post-comment' class='form-control' rows='2'></textarea>
            </div>
            <!-- button type='button'으로 수정, postArticle 함수 추가 -->
            <button type="button" onclick='postArticle()' class="btn btn-primary">기사저장</button>
        </div>

        <!-- 카드 column -->
        
        <div class="row row-cols-1 row-cols-md-3" id='cards'>

            <div class="col mb-4">
              <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><a href=''>Card title</a></h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text-comment">코멘트</p>
                </div>
              </div>
            </div>

            <div class="col mb-4">
                <div class="card">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"><a href=''>Card title</a></h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text-comment">코멘트</p>
                  </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"><a href=''>Card title</a></h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text-comment">코멘트</p>
                  </div>
                </div>
            </div>
  
            <div class="col mb-4">
                <div class="card">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"><a href=''>Card title</a></h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text-comment">코멘트</p>
                  </div>
                </div>
            </div>
  
            <div class="col mb-4">
                <div class="card">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"><a href=''>Card title</a></h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text-comment">코멘트</p>
                  </div>
                </div>
            </div>
  
            <div class="col mb-4">
                <div class="card">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"><a href=''>Card title</a></h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text-comment">코멘트</p>
                  </div>
                </div>
            </div>
  
        </div>

    </div>
</body>
</html>